pro:
  SLS_SERVICENAME: ''
  SLS_ENV: 'devel'
  SECURITYGROUP: ''
  SUBNET: 'subnet-'
  APIKEY: ''
  DOMAIN: ''
  
devel:
  SLS_SERVICENAME: ''
  SLS_ENV: 'devel'
  SECURITYGROUP: ''
  SUBNET: 'subnet-'
  APIKEY: ''
  DOMAIN: ''

local:
  SLS_SERVICENAME: ''
  SLS_ENV: 'local'
  SECURITYGROUP: ''
  SUBNET: ''
  DOMAIN: ''
